---
permalink: /404.html
header-img: assets/img/quotes.jpg
---
<!DOCTYPE html>
<html lang="en">

{% include blog/head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="" class="page-fullscreen" >

    {% include blog/nav.html %}

    <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
      <div class="container">
          <div class="row">
                  <div class="site-heading">
                      <h1 id="quote-content">No, Watson, this was not done by accident, but by design.</h1>
                      <!--<hr class="small">-->
                      <span id="quote-title" class="subheading">Sherlock Holmes</span>
                  </div>
          </div>
      </div>
  </header>

    {% include blog/footer.html %}

<script>
  $('#quote-content').on('click', function(e) {
    e.preventDefault();
    $.ajax( {
      url: 'https://quotesondesign.com/wp-json/posts?filter[orderby]=rand&filter[posts_per_page]=1',
      success: function(data) {
        var post = data.shift(); // The data is an array of posts. Grab the first one.
        $('#quote-title').text(post.title);
        $('#quote-content').html(post.content);

       
      },
      cache: false
    });
  });
</script>
<!-- Image to hack wechat -->
<!--img src="/img/icon_wechat.png" width="0" height="0" /-->
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
