 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Containers</h2>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <p>Docker, Kubernetes, Openshift</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p>Java, Python, NodeJS, GO, Javascript, Ruby</p>
    </div>
    <div class="tech">
      <h2>Platforms</h2>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-redhat-plain-wordmark colored"></i>
      <i class="devicon-android-plain colored"></i>
      <p>Linux Server and Android Platforms</p>
    </div>
</div>
