@media (min-width: 1200px) {
  .post-container, .sidebar-container {
    padding-right: 5%;
  }
}

@media (min-width: 768px) {
  .post-container {
    padding-right: 5%;
  }
}

.sidebar-container {
  color: #bfbfbf;
  font-size: 14px;
  h5 {
    color: #cccccc;
    padding-bottom: 1em;
    a {
      color: #cccccc !important;
      text-decoration: none;
    }
  }
  a {
    color: #bfbfbf !important;
    &:hover, &:active {
      color: #0085a1 !important;
    }
  }
  .tags a {
    border-color: #bfbfbf;
    &:hover, &:active {
      border-color: #0085a1;
    }
  }
  .short-about {
    img {
      width: 80%;
      display: block;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    p {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .list-inline > li {
      padding-left: 0px;
    }
  }
}

.catalog-container {
  padding: 0px;
}

.side-catalog {
  display: block;
  overflow: auto;
  height: 100%;
  padding-bottom: 40px;
  width: 195px;
  &.fixed {
    position: fixed;
    top: -21px;
  }
  &.fold {
    .catalog-toggle::before {
      content: "+";
    }
    .catalog-body {
      display: none;
    }
  }
  .catalog-toggle::before {
    content: "−";
    position: relative;
    margin-right: 5px;
    bottom: 1px;
  }
  .catalog-body {
    position: relative;
    list-style: none;
    height: auto;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 5px;
    text-indent: 0;
    li {
      position: relative;
      list-style: none;
      a {
        padding-left: 10px;
        max-width: 180px;
        display: inline-block;
        vertical-align: middle;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .h1_nav, .h2_nav, .h3_nav {
      margin-left: 0;
      font-size: 13px;
      font-weight: bold;
    }
    .h4_nav, .h5_nav, .h6_nav {
      margin-left: 10px;
      font-size: 12px;
    }
    .h4_nav a, .h5_nav a, .h6_nav a {
      max-width: 170px;
    }
    .active {
      border-radius: 4px;
      background-color: #F5F5F5;
      a {
        color: #0085a1 !important;
      }
    }
  }
}

@media (max-width: 1200px) {
  .side-catalog {
    display: none;
  }
}

/*
  Please note this CSS is currently in   prototype form. We'll implement a cleaned up version in Web Starter Kit.
*/

.paper-snackbar {
  transition-property: opacity, bottom, left, right, width, margin, border-radius;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  /*font-family: RobotoDraft;*/
  font-size: 14px;
  min-height: 14px;
  background-color: #323232;
  background-color: #0085a1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  line-height: 22px;
  padding: 18px 24px;
  bottom: 0px;
  opacity: 0;
  .action {
    background: inherit;
    display: inline-block;
    border: none;
    font-size: inherit;
    text-transform: uppercase;
    color: #ffeb3b;
    margin: 0px 0px 0px 24px;
    padding: 0px;
    min-width: min-content;
    outline: 0px;
  }
}

@media (min-width: 640px) {
  .paper-snackbar {
    /*
    Desktop:
      Single-line snackbar height: 48 dp tall
      Minimum width: 288 dp
      Maximum width: 568 dp
      2 dp rounded corner
      Text: Roboto Regular 14 sp
      Action button: Roboto Medium 14 sp, all-caps text
      Default background fill: #323232 100%
    */
    min-width: 288px;
    max-width: 568px;
    display: inline-flex;
    border-radius: 2px;
    margin: 24px;
    bottom: -100px;
  }
}

@media (max-width: 640px) {
  .paper-snackbar {
  /*
Mobile:
  Single-line snackbar height: 48 dp
  Multi-line snackbar height: 80 dp
  Text: Roboto Regular 14 sp
  Action button: Roboto Medium 14 sp, all-caps text
  Default background fill: #323232 100%  
*/
    left: 0px;
    right: 0px;
  }
}

/* Everything from here down is actually just for the demo - the material buttons and card, and various other pieces of styling */
/* Variables */
/* Buttons */

.paper-button {
  position: relative;
  padding: 4px 0;
  margin: 1em;
  width: 160px;
  overflow: hidden;
  user-select: none;
  color: #000000;
  text-transform: uppercase;
  border-radius: 3px;
  outline-color: #cccccc;
  &:hover {
    cursor: pointer;
  }
  button, input[type="submit"] {
    background: inherit;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    /*font-family: 'Roboto';*/
    font-size: 1em;
    color: #000000;
    text-transform: uppercase;
  }
  &.colored {
    color: #4285f4;
    button {
      color: #4285f4;
    }
  }
  &.raised-button.colored {
    background-color: #4285f4;
  }
  .raised-button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  &.raised-button.colored {
    background: #4285f4;
    color: #fff;
  }
  &[disabled] {
    background-color: #EAEAEA !important;
    color: #A8A8A8 !important;
    cursor: auto;
  }
  &:hover {
    background-color: #EAEAEA;
  }
  &.raised-button.colored:hover {
    background-color: #3367d6;
  }
}

button.paper-button {
  border: 0;
  /*font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;*/
  font-size: 1em;
  line-height: 25px;
  background-color: #ffffff;
}

.paper-button {
  input[type="submit"] {
    outline-color: #cccccc;
  }
  &.colored.raised-button input[type="submit"] {
    color: #ffffff;
  }
}

/** Shadows **/

.paper-shadow-animated.paper-shadow {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.paper-shadow-top-z-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.paper-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.paper-shadow-top-z-2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.paper-shadow-top-z-3 {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.paper-shadow-top-z-4 {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

/** Card **/

.card {
  background: white;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 16px;
  border-radius: 2px;
}

body {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 16px;
  color: #404040;
  overflow-x: hidden;
}

p {
  margin: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  line-height: 1.1;
  font-weight: bold;
}

h4 {
  font-size: 21px;
}

a {
  color: #404040;
  &:hover, &:focus {
    color: #0085a1;
  }
  img {
    &:hover, &:focus {
      cursor: zoom-in;
    }
  }
}

article {
  /*overflow-x: hidden;*/
}

blockquote {
  color: gray;
  font-style: italic;
  font-size: 0.95em;
  margin: 20px 0 20px;
  p {
    margin: 0;
  }
}

small.img-hint {
  display: block;
  margin-top: -20px;
  text-align: center;
}

br + small.img-hint {
  margin-top: -40px;
}

img.shadow {
  box-shadow: rgba(0, 0, 0, 0.25882) 0px 2px 5px 0px;
}

select {
  -webkit-appearance: none;
  margin-top: 15px;
  color: #337ab7;
  border-color: #337ab7;
  padding: 0em 0.4em;
  background: white;
  &.sel-lang {
    min-height: 28px;
    font-size: 14px;
  }
}

.table {
  th, td {
    border: 1px solid #eee !important;
  }
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

pre, .table-responsive {
  -webkit-overflow-scrolling: touch;
}

pre code {
  display: block;
  width: auto;
  white-space: pre;
  word-wrap: normal;
}

.postlist-container {
  margin-bottom: 15px;
}

.post-container {
  a {
    color: #337ab7;
    &:hover, &:focus {
      color: #0085a1;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 30px 0 10px;
  }
  h5 {
    font-size: 19px;
    font-weight: 600;
    color: gray;
    + p {
      margin-top: 5px;
    }
  }
  h6 {
    font-size: 16px;
    font-weight: 600;
    color: gray;
    + p {
      margin-top: 5px;
    }
  }
  ul {
    margin-bottom: 40px;
  }
  ol {
    margin-bottom: 40px;
    ol, ul {
      margin-bottom: 5px;
    }
  }
  ul {
    ol, ul {
      margin-bottom: 5px;
    }
  }
  li {
    p {
      margin: 0;
      margin-bottom: 5px;
    }
    h1, h2, h3, h4, h5, h6 {
      line-height: 2;
      margin-top: 20px;
    }
  }
  .pager li {
    width: 48%;
    &.next {
      float: right;
    }
    &.previous {
      float: left;
    }
    > a {
      width: 100%;
      > span {
        color: #cccccc;
        font-weight: normal;
        letter-spacing: 0.5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .post-container {
    ul, ol {
      padding-left: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  .post-container {
    ul, ol {
      padding-left: 20px;
    }
  }
}

@media only screen and (max-width: 767px) {
  /**
	 * Layout
	 * Since V1.6 we use absolute positioning to prevent to expand container-fluid
	 * which would cover tags. A absolute positioning make a new layer.
	 */
  .navbar-default .navbar-collapse {
    position: absolute;
    right: 0;
    border: none;
    background: white;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.23922) 0px 1px 4px;
    border-radius: 2px;
    width: 170px;
  }
  /**
	 * Animation
	 * HuxBlog-Navbar using genuine Material Design Animation
	 */
  #huxblog_navbar {
    /**
		 * Sharable code and 'out' function
		 */
    opacity: 0;
    transform: scaleX(0);
    transform-origin: top right;
    transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: top right;
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
    /**
		 *'In' Animation
		 */
    a {
      font-size: 13px;
      line-height: 28px;
    }
    .navbar-collapse {
      height: 0px;
      transform: scaleY(0);
      transform-origin: top right;
      transition: transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
      -webkit-transform: scaleY(0);
      -webkit-transform-origin: top right;
      -webkit-transition: -webkit-transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
    }
    li {
      opacity: 0;
      transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      -webkit-transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
    &.in {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      opacity: 1;
      transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      .navbar-collapse {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      li {
        opacity: 1;
        transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
        -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
      }
    }
  }
}

.navbar-custom {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  .navbar-brand {
    font-weight: 800;
    color: white;
    height: 56px;
    line-height: 25px;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    &:active {
      background: rgba(0, 0, 0, 0.12);
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
    body {
      font-size: 20px;
    }
    .navbar-brand {
      color: white;
      padding: 20px;
      line-height: 20px;
      &:hover, &:focus {
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .nav li a {
      color: white;
      padding: 20px;
      &:hover, &:focus {
        color: rgba(255, 255, 255, 0.8);
      }
      &:active {
        background: none;
      }
    }
  }
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -61px;
      background-color: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid #f2f2f2;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      .navbar-brand {
        color: #404040;
        &:hover, &:focus {
          color: #0085a1;
        }
      }
      .nav li a {
        color: #404040;
        &:hover, &:focus {
          color: #0085a1;
        }
      }
    }
    &.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}

.intro-header {
  background: no-repeat center center;
  background-color: #cccccc;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 0px;
  /* 0 on mobile, modify by Hux */
  .site-heading, .post-heading, .page-heading {
    padding: 85px 0 55px;
    color: white;
  }
  .site-heading {
    padding: 95px 0 70px;
    text-align: center;
  }
  .page-heading {
    text-align: center;
  }
  .site-heading h1, .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
  }
  .site-heading .subheading, .page-heading .subheading {
    /* Hux learn from
       *     TypeIsBeautiful,
       *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
       */
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    font-size: 18px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
  }
  .post-heading {
    h1 {
      font-size: 30px;
      margin-bottom: 24px;
    }
    .subheading, .meta {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      /* Hux learn from
         *     TypeIsBeautiful,
         *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
         */
      font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
      line-height: 1.7;
      font-size: 17px;
      line-height: 1.4;
      font-weight: normal;
      margin: 10px 0 30px;
      margin-top: -5px;
    }
    .meta {
      font-family: 'Lora', 'Times New Roman', serif;
      font-style: italic;
      font-weight: 300;
      font-size: 18px;
      a {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    margin-bottom: 20px;
    /* response on desktop */
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading, .post-heading, .page-heading {
      padding: 150px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading {
    padding: 150px 0;
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading h1, .page-heading h1 {
      font-size: 80px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading {
    h1 {
      font-size: 55px;
    }
    .subheading {
      font-size: 30px;
    }
    .meta {
      font-size: 20px;
    }
  }
}

.post-preview > {
  a {
    color: #404040;
    &:hover, &:focus {
      text-decoration: none;
      color: #0085a1;
    }
    > {
      .post-title {
        font-size: 21px;
        line-height: 1.3;
        margin-top: 30px;
        margin-bottom: 8px;
      }
      .post-subtitle {
        font-size: 15px;
        line-height: 1.3;
        margin: 0;
        font-weight: 300;
        margin-bottom: 10px;
      }
    }
  }
  .post-meta {
    font-family: 'Lora', 'Times New Roman', serif;
    color: #cccccc;
    font-size: 16px;
    font-style: italic;
    margin-top: 0;
    > a {
      text-decoration: none;
      color: #404040;
      &:hover, &:focus {
        color: #0085a1;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .post-preview {
    > a > {
      .post-title {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 10px;
      }
      .post-subtitle {
        font-size: 16px;
      }
    }
    .post-meta {
      font-size: 18px;
    }
  }
}

.post-content-preview {
  font-size: 13px;
  font-style: italic;
  color: #a3a3a3;
  &:hover {
    color: #0085a1;
  }
}

@media only screen and (min-width: 768px) {
  .post-content-preview {
    font-size: 14px;
  }
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  font-size: 20px;
  padding: 50px 0 65px;
  .list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
    a {
      color: #337ab7;
      &:hover, &:focus {
        color: #0085a1;
      }
    }
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
  input, textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
  }
  label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
  }
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085a1;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

.btn {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default {
  &:hover, &:focus {
    background-color: #0085a1;
    border: 1px solid #0085a1;
    color: white;
  }
}

.pager {
  margin: 20px 0 0 !important;
  padding: 0px !important;
  li > {
    a, span {
      /* Hux learn from
         *     TypeIsBeautiful,
         *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
         */
      font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
      line-height: 1.7;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 1px;
      padding: 10px;
      background-color: white;
      border-radius: 0;
    }
    a {
      color: #404040;
      &:hover, &:focus {
        color: white;
        background-color: #0085a1;
        border: 1px solid #0085a1;
      }
      &:hover > span, &:focus > span {
        color: white;
      }
    }
  }
  .disabled > {
    a {
      color: #cccccc;
      background-color: #404040;
      cursor: not-allowed;
      &:hover, &:focus {
        color: #cccccc;
        background-color: #404040;
        cursor: not-allowed;
      }
    }
    span {
      color: #cccccc;
      background-color: #404040;
      cursor: not-allowed;
    }
  }
}

@media only screen and (min-width: 768px) {
  .pager li > {
    a, span {
      font-size: 14px;
      padding: 15px 25px;
    }
  }
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

/* Hux add tags support */

.tags {
  margin-bottom: -5px;
  a, .tag {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 999em;
    padding: 0 10px;
    color: #ffffff;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
    margin-bottom: 6px;
  }
  a:hover, .tag:hover, a:active, .tag:active {
    color: white;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .tags {
    a, .tag {
      margin-right: 5px;
    }
  }
}

#tag-heading {
  padding: 70px 0 60px;
}

@media only screen and (min-width: 768px) {
  #tag-heading {
    padding: 55px 0;
  }
}

#tag_cloud {
  margin: 20px 0 15px 0;
  a, .tag {
    font-size: 14px;
    border: none;
    line-height: 28px;
    margin: 0 2px;
    margin-bottom: 8px;
    background: #D6D6D6;
  }
  a:hover, .tag:hover, a:active, .tag:active {
    background-color: #0085a1 !important;
  }
}

@media only screen and (min-width: 768px) {
  #tag_cloud {
    margin-bottom: 25px;
  }
}

.tag-comments {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .tag-comments {
    font-size: 14px;
  }
}

.t:first-child {
  margin-top: 0px;
}

.listing-seperator {
  color: #0085a1;
  font-size: 21px !important;
  &::before {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .listing-seperator {
    font-size: 20px !important;
    line-height: 2 !important;
  }
}

.one-tag-list {
  .tag-text {
    font-weight: 200;
    /* Hux learn from
       *     TypeIsBeautiful,
       *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
       */
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
  }
  .post-preview {
    position: relative;
    > {
      a {
        .post-title {
          font-size: 16px;
          font-weight: 500;
          margin-top: 20px;
        }
        .post-subtitle {
          font-size: 12px;
        }
      }
      .post-meta {
        position: absolute;
        right: 5px;
        bottom: 0px;
        margin: 0px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .one-tag-list .post-preview {
    margin-left: 20px;
    > a > {
      .post-title {
        font-size: 18px;
        line-height: 1.3;
      }
      .post-subtitle {
        font-size: 14px;
      }
    }
    .post-meta {
      font-size: 18px;
    }
  }
}

/* Tags support End*/
/* Hux make all img responsible in post-container */

.post-container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1.5em auto 1.6em auto;
}

/* Hux Optimize UserExperience */

.navbar-default .navbar-toggle {
  &:focus, &:hover {
    background-color: inherit;
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.25);
  }
  border-color: transparent;
  padding: 19px 16px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 50%;
  .icon-bar {
    width: 18px;
    border-radius: 0px;
    background-color: white;
    + .icon-bar {
      margin-top: 3px;
    }
  }
}

/* Hux customize Style for navBar button */

/* Hux customize Style for Duoshuo */

.comment {
  margin-top: 20px;
  #ds-thread #ds-reset {
    a.ds-like-thread-button, li.ds-tab a.ds-current {
      border: 1px solid #ddd;
      border-radius: 0px;
      background: white;
      box-shadow: none;
      text-shadow: none;
    }
    .ds-textarea-wrapper, .ds-gradient-bg {
      background: none;
    }
    .ds-post-options {
      border-bottom: 1px solid #ccc;
    }
    .ds-post-button {
      border-bottom: 1px solid #ccc;
      background: white;
      box-shadow: none;
      &:hover {
        background: #eeeeee;
      }
    }
  }
}

#ds-smilies-tooltip ul.ds-smilies-tabs li a {
  background: white !important;
}

.page-fullscreen {
  .intro-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #tag-heading {
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 150px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
    opacity: 0.6;
    color: #fff;
    .copyright {
      color: #fff;
      a {
        color: #fff;
        &:hover {
          color: #ddd;
        }
      }
    }
  }
}